#wrapper #menu li,
#wrapper #header .logo,
#wrapper #header .name-site,
#wrapper .contacts,
#wrapper .catalogue .content-catalogue,
.content .prev-product,
.content .next-product,
.content .gallery-product-ico   {
    display: inline;
}

.line-bant .line-img {
    position: relative;
    top: 12px;
}

form #button,
form #answer    {
    font: normal 15px Arial;
    background: url('../images/button-middle.png') repeat center top;
    border: none;
    color: #ffffff;
    margin: 0;
    cursor: pointer;
    margin-top: 15px;
}

input,
textarea  {
    color: #b1b1b1;
}
