body	{
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg') repeat 0 0;
    font: normal 14px Times New Roman, sans-serif;

    margin: 0;
    padding: 0;
}

h1  {
    font: italic 27px/25px Times New Roman;
    color: #4374a9;
}

h2  {

}

h3  {
    font: italic 20px Times New Roman;
    color: #4374a9;
}

p  {
    font: 15px Times New Roman;
    color: #5f6b7c;
}

img {
    border: none;
}

ul, ol  {
    margin: 0;
}

#wrapper	{
    width: 1024px;
    min-height: 100%;
    height: auto;
    background: #ffffff;

    margin: 0 auto;
}

/* header
-------------------------------------- */
#wrapper #header	{
    width: 96%;
    height: 170px;

    padding: 20px;
}

#wrapper #header .logo	{
    width: 374px;
    height: 174px;
    background: url('../images/logo.jpg') no-repeat;
    float: left;
}

#wrapper #header .name-site  {
    width: 325px;
    text-align: center;
    float: left;
}

#wrapper #header h1	{
    color: #13336f;
    font: bold italic 35px Georgia, sans-serif;
}

#wrapper .contacts	{
    width: 260px;
    height: auto;
    text-align: center;
    border: 1px solid #e1e1e1;
    float: right;

    margin-top: 20px;
}

#wrapper .contacts .contact-text	{
    border-top: 1px solid #e1e1e1;

    margin: 20px 10px 10px 10px;
}

#wrapper .contacts img	{
    position: relative;
    top: -10px;
    z-index: 1;
}

#wrapper .contacts p	{
    color: #565454;
    font-size: 20px;

    margin: 0 0 10px 0;
}

#wrapper .contacts span	{
    color: #6094bd;
    font: bold 20px sans-serif;
}
 /* end */

/* menu
------------------------------------- */
#wrapper #menu	{
    height: 56px;
    width: 100%;
    background: url("../images/menu-item-shadow.png") repeat-x left bottom;
    clear: both;

    padding-bottom: 6px;
}

#wrapper #menu ul	{
    width: 100%;
    background: url('../images/bg-menu.jpg') repeat-x left top;
    list-style-type: none;
    text-align: center;
    border: 1px solid #5087ba;

    padding: 0;
}

#wrapper #menu li	{
    width: 197px;
    height: 53px;
    background: url('../images/menu-divider.gif') no-repeat right top;
    display: inline-block;
}

#wrapper #menu li:last-child	{
    background: none;
}

#wrapper #menu a	{
    color: #ffffff;
    font: italic 28px Times New Roman;
    text-decoration: none;
    display: block;

    padding: 5px 0 0 0;
}
/* end */


/* gallery
--------------------------------------- */
#wrapper #gallery    {
    height: 335px;
    overflow: hidden;
    position: relative;

    padding: 40px 30px 30px 30px;
}

#wrapper #gallery .container    {
    width: 45%;
    float: left;
}

#wrapper #gallery .gallery-text    {
    float: left;
    position: relative;
    top: 0;
    z-index: 10;

    padding: 0 0 30px 30px;
}

#wrapper #gallery img    {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#wrapper #gallery h1    {
    color: #13336f;
    font: italic 22px Georgia, sans-serif;
}

#wrapper #gallery p    {
    color: #5f6b7c;
    font: italic 12px Arial, sans-serif;
}

#wrapper #gallery .prev,
#wrapper #gallery .next {
    width: 70px;
    height: 70px;
    background: url('../images/arrow_catalog.png') no-repeat;
    float: left;
    position: relative;
    top: 90px;
    z-index: 9999;
    cursor: pointer;
}

#wrapper #gallery .next    {
    background-position: -70px 0;
    float: right;
}

#wrapper #gallery .prev:hover    {
    background-position: 0 -70px;
}

#wrapper #gallery .next:hover    {
    background-position: -70px -70px;
}
/* end */


/* main content
-------------------------------------- */
#wrapper .main    {
    padding: 20px 20px 20px 20px;
}


/*  content
--------------------------------------*/

.content  {
    min-height: 500px;
}

.content h1  {
    margin-top: 0;
}

.content .price span  {
    font: 20px Times New Roman;
    color: #5f6b7c;
}

.content .price  {
    font: italic 20px Times New Roman;
    color: #4374a9;
}

.content .icon-product  {
    width: 517px;
    float: left;
}

.content .icon-product img  {
    border: 1px solid #e1e1e1;
    padding: 5px;
    width: 472px;
}

.content .text-product  {
     width: 455px;
    float: left;
}

/*stars ico */

div.vote-wrap{ overflow: hidden; height: 35px; float: right; }
div.vote-block{ position: relative; }
div.vote-hover{ float: left; cursor:  pointer; }
div.vote-stars{  position: absolute; left: 0;  top: 0; }
div.vote-active{ position: absolute; left: 0; top: 0; padding: 0px; margin: 0px; }
div.vote-result{ color: #ccc; font-size: 14px; margin: 0px; padding: 0px; }
div.vote-success{ clear: both; color: #ccc; font-size: 14px; margin: 0px; }

/* end */




/* list catalogue in index
----------------------------------------- */
#wrapper .catalogue    {
    text-align: center;
}

#wrapper .catalogue .content-catalogue    {
    width: 150px;
    text-align: center;
    display: inline-block;
}

#wrapper .catalogue .content-catalogue a    {
    color: #5a9dcf;
    font: italic 16px 'Arial';
}

#wrapper .catalogue .content-catalogue a:hover    {
    text-decoration: none;
}


/* end */


/* footer
------------------------------------------ */
#footer    {
    width: 98%;
    height: 80px;
    background: url("../images/footer-bg.jpg") repeat left top;
    text-align: right;
    border: 1px solid #5087ba;
    clear: both;

    padding: 15px 20px 10px 0;
}

#footer a   {
    text-decoration: none;
}

#footer .socsety   {
    height: 60px;
    background: url("../images/divider.png") no-repeat right 45px;
}

#footer .copyright    {
    font: 12px 'Arial';
    color: #b8dff0;
}